body {
  overflow-x: hidden !important;
}

.fa-plus,
.fa-circle-info {
  border-radius: 50% !important;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
}

.scroller {
  width: 768px !important;
}

@media screen and (max-width: 768px) {
  .scroller {
    max-width: 450px !important;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 450px) {
  .scroller {
    max-width: 420px !important;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 400px) {
  .scroller {
    max-width: 370px !important;
    font-size: 14px !important;
  }
}

@keyframes modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}